@model IEnumerable<BlackBoard.Core.Models.Exam>
@{
    ViewBag.Title = "Home Page";
}


<!-- top tiles -->
<div class="row top_tiles">
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-users"></i></div>
            <div class="count students"></div>
            <h3>Total Groups</h3>
            <p class="count_bottom"><i class="green todaysstudents"> </i> Added From Today</p>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-file-text-o"></i></div>
            <div class="count exams"></div>
            <h3>Total Exams</h3>
            <p class="count_bottom"><i class="green todaysexams"> </i>  For Today</p>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-graduation-cap"></i></div>
            <div class="count teachers"></div>
            <h3>Total Teachers</h3>
            <p class="count_bottom"><i class="green availableteachers"> </i> Teachers Available</p>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-briefcase"></i></div>
            <div class="count users"></div>
            <h3>Total Users</h3>
            <p class="count_bottom"><i class="green activeaccounts"> </i> Active Accounts</p>
        </div>
    </div>
</div>
<!-- /top tiles -->

@section scripts{
    <script>
        $(document).ready(function () {

            //render total student
            $.get('../../../Home/TotalStudents', null, function (data) {
                $('.students').append(data);
            }, 'json');

            //render total apointments
            $.get('../../../Home/TotalExams', null, function (data) {
                $('.exams').append(data);
            }, 'json');
            //render total teachers
            $.get('../../../Home/TotalTeachers', null, function (data) {
                $('.teachers').append(data);
            }, 'json');
            //render total users
            $.get('../../../Home/TotalUsers', null, function (data) {
                $('.users').append(data);
            }, 'json');
            //render todays students
            $.get('../../../Home/TodaysStudents', null, function (data) {
                $('.todaysstudents').append(data);
            }, 'json');
            //Today's exams
            $.get('../../../Home/TodaysExams', null, function (data) {
                $('.todaysexams').append(data);
            }, 'json');
            //render available teachers
            $.get('../../../Home/AvailableTeachers', null, function (data) {
                $('.availableteachers').append(data);
            }, 'json');
            //ActiveAccounts
            $.get('../../../Home/ActiveAccounts', null, function (data) {
                $('.activeaccounts').append(data);
            }, 'json');
            

        });
    </script>
}