<ul class="nav side-menu">
    <li><a href="/"><i class="fa fa-home"></i> Dashboard </a></li>
    @*<li><a href="@Url.Action("Index", "Students")"><i class="fa fa-edit"></i>Students</a></li>*@
    <li> <a href="@Url.Action("TeacherProfile","Teachers")"><i class="fa fa-edit"></i>  Profile </a></li>
</ul>

